body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../assets/images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.wrapper {
	width: 100%;
	min-height: 100vh;
	max-width: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	width: 100%;
	background-color: #fff;
	border-radius: 30px;
	padding: 4% 0;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
	
}
.button {
	display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54px;
	width: 90%;
	margin: 5px 4%;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 8px;
	transition: all 0.2s linear;
	-webkit-filter: brightness(100%);
	text-align: center;
  font-style: normal;
  line-height: 140%;
}
.button:hover {
	-webkit-filter: brightness(90%);

}

.btn__donate {
	background-color: #00F10D;
	color: #5f171d;
  text-decoration: none;
	font: bold 24px / 31.200000000000003px Raleway;
}
.btn__donate-mem {
	background-color: #ec8e22;
	color: white;
	font: bold 16px / 20.8px Unbounded;
}
.btn__telegramm {
	background-color: #3578F9;
	color: white;
	font: bold 16px / 20.8px Unbounded;
}
.btn__boosty {
	background-color: #F15F2C;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.btn__twitch {
	background-color: rgb(145, 70, 255);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.btn_youtube {
	background-color: #FC0D1B;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
	margin-bottom: 30px;
}
.logo-chanel img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.logo-chanel {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.logo-chanel p {
	font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
	color: #FFF;
}
.line {
	width: 90%;
	margin: 5px 4%;
	height: 1px;
	background-color: white;
}
.info-box {
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-box p {
	font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
	color: #FFF;
}
.info-box a{
	color: #ccff54;

}